{% extends 'main.html' %}
{% block content %}

{% if page == 'login' %}
<div>
    <form action="" method="post">
        {% csrf_token %}
        <label for="">username</label>
        <input type="text" name="username" placeholder="enter yourusername">
        
        <label for="">password</label>
        <input type="password" name="password" placeholder="enter yourpassworrd">
        
        <input type="submit" value="login">
    </form>
    <p>havent signed up yet</p>
    <a href="{%url 'register'%}">register</a>
</div>
{% else %}

<div>
    <form action="" method="post">
        {% csrf_token %}
        
        {{form.as_p}}
        
        <input type="submit" value="register">
        
    </form>
    <p>already signed up yet</p>
    <a href="{%url 'login'%}">login</a>
</div>
{% endif %}
{% endblock content %}